<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Medical Chatbot</title>
		<link rel="icon" href="{{ url_for('static', filename='medicalbotpic.jpeg') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	</head>

	<body data-bot-avatar="{{ url_for('static', filename='medicalbotpic.jpeg') }}">
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="{{ url_for('static', filename='medicalbotpic.jpeg') }}" alt="" class="rounded-circle user_img_msg" aria-hidden="true">
									<span class="online_icon" aria-hidden="true"></span>
								</div>
								<div class="user_info">
									<span>Medical Chatbot</span>
									<p>Looks up medical terms in a reference encyclopedia &mdash; not medical advice</p>
								</div>
							</div>
						</div>
						<div id="messageFormeight" class="card-body msg_card_body" role="log" aria-live="polite" aria-label="Conversation">
						</div>
						<div class="card-footer">
							<form id="messageArea" class="input-group">
								<input type="text" id="text" name="msg" aria-label="Your question" placeholder="Type your message..." autocomplete="off" maxlength="{{ max_question_chars }}" class="form-control type_msg" required/>
								<div class="input-group-append">
									<button type="submit" id="send" class="input-group-text send_btn" aria-label="Send question"><i class="fas fa-location-arrow" aria-hidden="true"></i></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="{{ url_for('static', filename='chat.js') }}"></script>
	</body>
</html>
